<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csi.myapplication" >

    <permission
        android:name="csi.myapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="csi.myapplication.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/slmedicarelog"
        android:label="SL Medicare"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controllers.applicationcontroller.SplashScreen"
            android:label="SL Medicare" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.applicationcontroller.MainPage"
            android:label="@string/title_activity_main_page"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Hospital Details Page -->
        <activity
            android:name=".controllers.applicationcontroller.DetailPage"
            android:label="Hospital Details" >

            <!-- android:launchMode="singleTask" -->


            <!-- From Hospital Detail to  main page -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.applicationcontroller.MainPage" />
        </activity>

        <!-- Pharmacy Details Page -->
        <activity
            android:name=".controllers.applicationcontroller.PharmacyDetailPage"
            android:label="Pharmacy Details" >

            <!-- From Hospital Detail to  main page -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.applicationcontroller.MainPage" />
        </activity>

        <!-- Map Details Page -->
        <activity
            android:name=".controllers.applicationcontroller.MapDetails"
            android:label="Location" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBAmjN9Hj6dATzV4QWeaaB5Ro8-4jXsLgE" />

    </application>

</manifest>
